html{
    font-family: 'Times New Roman';
}
header{
    background-color: #FB8D76;


}

body{
    background-color: #FFC4AA;
    text-decoration: none;
    margin-bottom: 100px;
}
ul {
	list-style: none;
    display: inline-block;
    text-decoration: none;
}
h2{
    color: rgb(145, 5, 80);
}
li{
    font-size: 30px;
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}

   

h1{
    text-align: center;
    font-size: 80px;
    color: deeppink;
}
p{
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(164, 23, 80);
}
.imag{
    margin-top: 50px;
    width: 50%;
    height: 50%;
}
